#!/usr/bin/env bash

# Test function
function t() {
  if [[ "$PWD" == "$HOME" ]]; then
    cd ~/Tests
  elif [[ "$PWD" =~ "go/src" ]]; then
    go test
  elif [[ -r "package.json" ]]; then
    npm run test
  else
    echo "test command"  
  fi
}

# Git clone function
function gclone() {
  if ! command -v gh &> /dev/null
  then
    echo "gh command not found"
    exit
  fi
  # dir=${1%/*}
  # mkdir -p $dir && cd $_
  dir=$2
  if [[ -z $dir ]]; then
    dir=${1/\//@}
  fi
  gh repo clone $1 $dir
}
