#!/usr/bin/env bash

# Test function
function t() {
  if [[ "$PWD" == "$HOME" ]]
    cd ~/Tests
  elif [[ "$PWD" =~ "go/src" ]]; then
    go test
  elif [[ -r "package.json" ]]; then
    npm run test
  else
    echo "test command"  
  fi
}
