# git config --global http.proxy http://127.0.0.1:1087
# git config --global https.proxy https://127.0.0.1:1087

[http]
	proxy = http://127.0.0.1:1087
[https]
	proxy = https://127.0.0.1:1087


# Set company dir use difference config
[includeIf "gitdir:~/company/"]
	path = ~/.gitconfig-company 
