[user]
name = yuler
email = is.yuler@gmail.com

[init]
defaultBranch = main

[http "https://github.com"]
proxy = http://127.0.0.1:7890

[pull]
rebase = true

[include]
path = ~/.gitconfig.includes

[core]
ignorecase = false

# [credential "https://github.com"]
# helper = !/usr/local/bin/gh auth git-credential
