[user]
name = yuler
email = is.yuler@gmail.com

[init]
defaultBranch = main

[http]
postBuffer = 100000000

[http "https://github.com"]
proxy = http://127.0.0.1:7890

[pull]
rebase = true

[core]
ignorecase = false
pager = delta # refs: https://github.com/dandavison/delta
compression = 1

[credential "https://github.com"]
useHttpPath = true
helper = 
helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
helper = 
helper = !/usr/bin/gh auth git-credential

[include]
path = ~/.gitconfig.includes
